<h3>Epic</h3>
<form [formGroup]="epicForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
        <div class="field">
            <label for="name">Name: </label>
            <input id="name" type="text" formControlName="name" maxlength="45"/>
        </div>
        <div class="field">
            <label for="details">Details: </label>
            <input id="details" type="text" formControlName="details" maxlength="512"/>
        </div>
        <div class="field">
            <label for="createdDate">Created: </label>
            <input id="createdDate" type="datetime" readonly formControlName="createdDate"/>
        </div>
        
        <div class="field" *ngIf="featureID > 0">
            <app-notes-table [entity]="featureID" tableName="ROADMAPS" ></app-notes-table>                
        </div>
        <div class="field" *ngIf="inDialog == false">
            <button type="submit" [disabled]="!epicForm.valid">Submit</button>
        </div>
    </div>
</form>
