
<form [formGroup]="epicForm" (ngSubmit)="onSubmit()">
    <div class="form-header">
      Edit this epic...
    </div>
    <table class="form-section">

      <tr class="field">
        <td>
          <label for="name" align="right">Name</label>
        </td>
        <td colspan="3">
          <input id="name" type="text" formControlName="name" maxlength="45"/>
        </td>
      </tr>
      <tr class="field">
        <td>
          <label align="right" for="details">Details</label>
        </td>
        <td colspan="3">
          <input id="details" type="text" formControlName="details" maxlength="512"/>
        </td>
      </tr>
      <tr class="field">
        <td align="right">
          <label for="createdDate">Created</label>
        </td>
        <td colspan="3">
          <input id="createdDate" type="datetime" readonly formControlName="createdDate"/>
        </td>
      </tr>
      @if (featureID > 0) {
      <tr>
        <td align="right">
          <label>Notes</label>
        </td>
        <td colspan="3">
          <app-notes-table [entity]="featureID" tableName="ROADMAPS" ></app-notes-table>
        </td>
      </tr>
    }
    </table>
    
     
    @if (inDialog == false) {
      <div class="form-footer">
        <button type="submit" [disabled]="!epicForm.valid">Submit</button>
      </div>
    }
</form>
