
<div #kanBanParent class="kanbanRoot">

  <div #plannedColumn class="columnRoot" (drop)="onDropEnough($event)" (dragover)="allowDrop($event)">
    <mat-card class="enough columnHeader"> Enough </mat-card>
    @for (t of Enough; track t) {
      <mat-card class="columnItem" draggable="true" (dragstart)="dragStart(t.Id)">{{t.ItemName}}</mat-card>
    }
  </div>

  <div #inprogressColumn class="columnRoot" (drop)="onDropNotEnough($event)" (dragover)="allowDrop($event)">
    <mat-card class="notEnough columnHeader"> Not Enough </mat-card>
    @for (t of NotEnough; track t) {
      <mat-card class="columnItem" draggable="true" (dragstart)="dragStart(t.Id)">{{t.ItemName}}</mat-card>
    }
  </div>

  <div #completeColumn class="columnRoot" (drop)="onDropBuying($event)" (dragover)="allowDrop($event)">
    <mat-card class="buying columnHeader"> Buying </mat-card>
    @for (t of Buying; track t) {
      <mat-card class="columnItem" draggable="true" (dragstart)="dragStart(t.Id)">{{t.ItemName}}</mat-card>
    }
  </div>

  <div #completeColumn class="columnRoot" (drop)="onDropInTrolley($event)" (dragover)="allowDrop($event)">
    <mat-card class="inTrolley columnHeader"> In Trolley </mat-card>
    @for (t of InTrolley; track t) {
      <mat-card class="columnItem" draggable="true" (dragstart)="dragStart(t.Id)">{{t.ItemName}}</mat-card>
    }
  </div>
</div>
