<table class="tableBody">
    <thead class="tableHeader">
        <th>Select</th>
            <th>Time</th>
            <th>Note</th>
            <th>Change</th>
            <th>Commands</th>
    </thead>
    <tbody>
        <tr>
            <span>
                <button (click)="addNote();" class="action"><i class="bi bi-sticky-fill"></i></button>
                <button (click)="LinkNotes();" class="action"><i class="bi bi-link"></i></button>
            </span>
            
        </tr>
        <ng-container *ngFor="let d of notes; index as i;">
            <tr *ngIf="i == 0"  [ngClass]="{'tableDivider' : true}">
                <td colspan="5">
                    <p>{{this.adjustForTimezone(d.RecordedDate) | date: "fullDate"}}</p>
                </td>
            </tr>
            <tr  [ngClass]="{'altTableRow' : i%2 == 0}">
                <ng-container>
                    <td class="text"><input type="checkbox" [(ngModel)]="d.Link"/></td>
                    <td class="date">{{ adjustForTimezone(d.RecordedDate) | date: 'medium'}}</td>
                    <td class="text"><pre>{{ d.Text }}</pre></td>
                    <td class="text">{{ (d.BehaviorChange ? "Y" : "") }}</td>
                    <td>
                        <span>
                            <button (click)="editNote(d)" class="amberButton action"><i class="bi bi-pencil-square"></i></button>                        
                            <button (click)="deleteNote(d.NoteID)" class="dangerButton action"><i class="bi bi-trash3"></i></button>
                        </span>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf=" dateDiffIndex(i) != 0"  [ngClass]="{'tableDivider' : true}" >
                <td colspan="5">
                    <p>{{this.adjustForTimezone(notes[i+1].RecordedDate) | date: "fullDate"}}</p>
                </td>
            </tr>
            
        </ng-container>
        <tr>
            <span>
                <button (click)="addNote();" class="action"><i class="bi bi-sticky-fill"></i></button>
                <button (click)="LinkNotes();" class="action"><i class="bi bi-link"></i></button>
            </span>
            
        </tr>
    </tbody>
</table>
