<p>Prescription Log</p>
<!--
<table>
    <th>ID</th>
    <th>Date Prescribed</th>
    <th>Medication Name</th>
    <th>Prescribed Dose (mg)</th>
    <th>Commands</th>
    <tr *ngFor="let d of model; index as i;">
        <td class="text">{{d.MedicationID}}</td>
        <td class="date">{{d.DateTimeConsumed | date: 'fullDate'}}</td>
        <td class="text">Olanzapine</td>
        <td class="number">{{d.DoseTakenMG | number: '1.2'}}</td>
        <td class="number">7.5</td>
        <td><button (click)="delete(d.MedicationID)">Delete</button></td>
    </tr>

</table>
-->