<h4 mat-dialog-title>Add Task<h4>
    <mat-dialog-content class="mat-typography">        
                <form>
                    <table>
                        <tr>
                            <p>
                                <label for="task-name">Title</label>
                            </p>
                                <input id="task-name" name="task-name" length="50" [(ngModel)]="currentTask.TaskName" style="box-sizing: border-box; width: 100%;"/>
                                
                        </tr>
                        <tr>
                            <p>
                                <label for="task-content">Description</label>
                            </p>
                            <div >
                                <textarea id="task-content" name="task-content" rows="10" cols="50" [(ngModel)]="currentTask.Description" style="box-sizing: border-box; width: 100%;"></textarea>
                                <span class="tooltiptext">As [Role], I [Want], [Because]\n\r Remember 5 Ws - What, Why, Who, When and Where</span>
                            </div>
                        </tr>
                       
                        <tr>
                            <p>
                                <label for="task-criteria">Acceptance Criteria</label>
                            </p>
                                <textarea id="task-criteria" name="task-criteria" rows="10" cols="50" [(ngModel)]="currentTask.AcceptanceCriteria" style="box-sizing: border-box; width: 100%;"></textarea>
                                
                        </tr>

                        <tr>
                            <div>
                                <app-notes-table [entity]="currentTask.Id" [showNotes]="true" tableName="TASKS" ></app-notes-table>
                            </div>                                
                        </tr>
                        <tr>
                            <p>
                                <label for="date_time">DateTime</label>
                            </p>
                            
                            
                                <input id="date_time" name="date" type="date" [ngModel]="date" (ngModelChange)="changeDate($event)"/> <!-- RFC 3339, stack overflow: https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format-->
                                <input id="date_time" name="time" type="time" [(ngModel)]="time" /> <!-- RFC 3339, stack overflow: https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format-->
                        </tr>  
                        <tr>
                            <p>
                                <label for="order">Order</label>
                            </p>                            
                            
                            <input id="order" name="order" type="number" [(ngModel)]="currentTask.Order"/>                                 
                        </tr>   
                        <tr>
                            <p>
                                <label for="priority">Priority</label>
                            </p>
                            
                            
                                <input id="prority" name="priority" type="number" [(ngModel)]="Priority" /> 
                               
                        </tr>  
                        <tr>
                            <p>
                                <label for="difficulty">Difficulty</label>
                            </p>                            
                            
                            <input id="difficulty" name="difficulty" type="number" [(ngModel)]="Difficulty"/>                                 
                        </tr>    
                        
                        <tr>
                            <p>
                                <label for="requiresLearning">Requires Learning</label>
                            </p>                            
                            
                            <input id="requiresLearning" name="requiresLearning" type="checkbox" [(ngModel)]="RequiresLearning"/>                                 
                        </tr> 

                        <tr>
                            <p>
                                <label for="estimate">Estimate (fibonacci)</label>
                            </p>                            
                            
                            <input id="estimate" name="estimate" type="number" [(ngModel)]="Estimate"/>                                 
                        </tr> 

                        <tr>
                            <p>
                                <label for="impeded">Impeded</label>
                            </p>                            
                            
                            <input id="impeded" name="impeded" type="checkbox" [(ngModel)]="Impeded"/>                                 
                        </tr> 

                    </table>
                </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">        
        <button class="saveButton" mat-button [mat-dialog-close]="true" (click)="SaveTask()" cdkFocusInitial>Save</button>
        <button class="cancelButton" mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
