
<div #kanBanParent class="kanbanRoot">
    
    <div #plannedColumn class="columnRoot" (drop)="onDropNotStarted($event)" (dragover)="allowDrop($event)">
        <mat-card class="notStarted columnHeader"> Not Started </mat-card>
        <mat-card class="columnItem" *ngFor="let t of NotStarted" draggable="true" (dragstart)="dragStart(t.TaskID)">{{t.TaskName}}</mat-card>
    </div>

    <div #inprogressColumn class="columnRoot" (drop)="onDropInProgress($event)" (dragover)="allowDrop($event)">                
        <mat-card class="inProgress columnHeader"> In Progress </mat-card>
        <mat-card class="columnItem" *ngFor="let t of InProgress" draggable="true" (dragstart)="dragStart(t.TaskID)">{{t.TaskName}}</mat-card>
    </div>

    <div #completeColumn class="columnRoot" (drop)="onDropInReview($event)" (dragover)="allowDrop($event)">                
        <mat-card class="inReview columnHeader"> Review </mat-card>
        <mat-card class="columnItem" *ngFor="let t of InReview" draggable="true" (dragstart)="dragStart(t.TaskID)">{{t.TaskName}}</mat-card>
    </div>

    <div #completeColumn class="columnRoot" (drop)="onDropComplete($event)" (dragover)="allowDrop($event)">                
        <mat-card class="completed columnHeader"> Completed </mat-card>
        <mat-card class="columnItem" *ngFor="let t of Completed" draggable="true" (dragstart)="dragStart(t.TaskID)">{{t.TaskName}}</mat-card>
    </div>
</div>
