.kanbanRoot
{
    background-color: rgb(208, 205, 205);
    border-radius: 0 0 16px 16px;
    margin: auto;
}

.kanbanSwimlineA
{
    background-color: lightgray;
}

.kanbanSwimlineB
{
    background-color: rgb(234, 233, 233);
}
.columnRoot
{
    padding: 10px;
    vertical-align: top;
}

.columnHeader
{
    margin : 16px 16px 16px 0px; 
    padding : 16px;
}

.notStarted
{
    
    background-color:red; 
}

.ready
{
    
    background-color: aqua; 
}

.started
{
    
    background-color: orange; 
}

.inProgress
{
    background-color:rgb(255, 217, 0);
}

.completed
{
    background-color:rgb(42, 225, 14);
}

.inReview
{
    background-color: rgb(0, 81, 255);
}
.columnItem
{
    margin-bottom: 16px;
    padding: 8px;
}