/* You can add global styles to this file, and also import other style files */
:root {
    --tl1: red;
    --tl2: yellow;
    --tl3: green;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dangerButton{
    background-color: var(--bs-danger);
}

.action {
    margin: 10px;
}