
<form [formGroup]="subTaskForm" (ngSubmit)="onSubmit()">
  <div class="form-header">
    Edit subtask...
  </div>
  <table class="form-section">
    <tr class="field">
      <td align="right">
        <label for="name">Name: </label>
      </td>
      <td>
        <input id="name" type="text" formControlName="name"/>
      </td>
    </tr>
    <tr class="field">
      <td align="right">
        <label for="details">Details: </label>
      </td>
      <td>
        <input id="details" type="text" formControlName="details"/>
      </td>
    </tr>
    <tr class="field">
      <td align="right">
        <label for="createdDate">Created: </label>
      </td>
      <td>
        <input id="createdDate" type="datetime" readonly formControlName="createdDate"/>
      </td>
    </tr>
    <tr class="field">
      <td align="right">
        <label for="status">Status: </label>
      </td>
      <td>
        <select id="status" formControlName="status">
          @for (o of statusOptions; track o) {
            <option value="{{o[0]}}">{{o[1]}}</option>
          }
        </select>
      </td>
    </tr>
    <tr class="field">
      <td align="right">
        <label for="MinHours">Min Hours: </label>
      </td>
      <td>
        <input id="MinHours" formControlName="minHours"/>
      </td>
    </tr>
    <tr class="field">
      <td align="right">
        <label for="MaxHours">Max Hours: </label>
      </td>
      <td>
        <input id="MaxHours" formControlName="maxHours"/>
      </td>
    </tr>
    <tr class="field">
      <td align="right">
        <label for="ExpectedHours">Expected Hours: </label>
      </td>
      <td>
        <input id="ExpectedHours" formControlName="expectedHours"/>
      </td>
    </tr>
    <tr class="field">
      <td align="right">
        <label for="ActualHours">Actual Hours: </label>
      </td>
      <td>
        <input id="ActualHours" formControlName="actualHours"/>
      </td>
    </tr>
    @if (subTaskID > 0) {
    <tr>
      <td align="right">
        Notes:
      </td>
      <td colspan="3">
        <app-notes-table [entity]="subTaskID" tableName="SUB_TASKS" ></app-notes-table>
      </td>
    </tr>
    }
    </table>
        
    @if (inDialog == false) {

      <div class="form-footer">
        <button type="submit" [disabled]="!subTaskForm.valid">Submit</button>
      </div>
    }
</form>