<h3>Task</h3>
<form [formGroup]="subTaskForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
        <div class="field">
            <label for="name">Name: </label>
            <input id="name" type="text" formControlName="name"/>
        </div>
        <div class="field">
            <label for="details">Details: </label>
            <input id="details" type="text" formControlName="details"/>
        </div>
        <div class="field">
            <label for="createdDate">Created: </label>
            <input id="createdDate" type="datetime" readonly formControlName="createdDate"/>
        </div>
        <div class="field">
            <label for="status">Status: </label>
            <select id="status" formControlName="status">
                <option *ngFor="let o of statusOptions" value="{{o[0]}}">{{o[1]}}</option>
            </select>
        </div>
        <div class="field">
            <label for="MinHours">Min Hours: </label>
            <input id="MinHours" formControlName="minHours"/>
        </div>
        <div class="field">
            <label for="MaxHours">Max Hours: </label>
            <input id="MaxHours" formControlName="maxHours"/>
        </div>
        <div class="field">
            <label for="ExpectedHours">Expected Hours: </label>
            <input id="ExpectedHours" formControlName="expectedHours"/>
        </div>
        <div class="field">
            <label for="ActualHours">Actual Hours: </label>
            <input id="ActualHours" formControlName="actualHours"/>
        </div>
        <div class="field" *ngIf="subTaskID > 0">
            <app-notes-table [entity]="subTaskID" tableName="SUB_TASKS" ></app-notes-table>
                
        </div>
        <div class="field" *ngIf="inDialog == false">
            <button type="submit" [disabled]="!subTaskForm.valid">Submit</button>
        </div>
    </div>
</form>