
<table class="tableBody">
    <thead class="tableHeader">
    <th>Notes</th>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let p of projects; index as i;">
            <tr [ngClass]="{'altTableRow' : i%2 == 0}">
                <td class="commands">
                    <button (click)="showNotes(p);" class="action"><i class="bi bi-sticky-fill"></i></button>
                    <button (click)="showTasks(p);" class="action"><i class="bi bi-list-task"></i></button>
                </td>
                <td class="text">{{p.Name}}</td>
                <td class="date">{{p.StartDate | date : "fullDate"}}</td>
                <td class="date">{{p.EndDate | date : "fullDate"}}</td>
            </tr>
            <tr *ngIf="p.ShowNotes" [ngClass]="{'altTableRow' : i%2 == 0}" >
                <td colspan="4">
                    <app-notes-table [entity]="p.Id" [showNotes]="p.ShowNotes" tableName="PROJECTS" ></app-notes-table>
                </td>
            </tr>
            <tr *ngIf="p.ShowTasks" [ngClass]="{'altTableRow' : i%2 == 0}" >
                <td colspan="4">
                    <app-kanban-board [recordID]="p.Id" table="PROJECTS" ></app-kanban-board>
                </td>
            </tr>
        </ng-container>
    </tbody>

</table>
