
<h4 mat-dialog-title>Add Note<h4>
    <mat-dialog-content class="mat-typography">        
                <form>
                    <table>
                        <tr>
                            <p>
                                <label for="note-content">Notes Text</label>
                            </p>
                                <textarea id="note-content" name="note-content" rows="10" cols="50" [(ngModel)]="currentNote.Text"></textarea>
                                
                        </tr>
                        <tr>
                            <span><input id="as-html" name="as-html" [(ngModel)]="currentNote.DisplayAsHTML" type="checkbox"/>
                            
                                <label for="as-html">  Display in table as HTML</label>
                            </span>
                                
                        </tr>
                        <tr>
                            <span><input id="behavior-change" name="behavior-change" [(ngModel)]="currentNote.BehaviorChange" type="checkbox"/>
                            
                                <label for="behavior-change">  Behaviour Change Required</label>
                            </span>
                                
                        </tr>
                        <tr>
                            <p>
                                <label for="date_time">DateTime</label>
                            </p>
                            
                            
                                <input id="date_time" name="date" type="date" [ngModel]="date" (ngModelChange)="changeDate($event)"/> <!-- RFC 3339, stack overflow: https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format-->
                                <input id="date_time" name="time" type="time" [(ngModel)]="time" /> <!-- RFC 3339, stack overflow: https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format-->
                        </tr>                        

                    </table>
                </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" (click)="SaveNote()" cdkFocusInitial>Save</button>        
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
