
<h4 mat-dialog-title>Add Note<h4>
    <mat-dialog-content class="mat-typography">        
                <form>
                    <table>
                        <tr>
                            <p>
                                <label for="note-content">Notes Text</label>
                            </p>
                                <textarea id="note-content" name="note-content" rows="10" cols="50" [(ngModel)]="currentNote.Text"></textarea>
                                
                        </tr>
                        <tr>
                            <span><input id="behavior-change" name="behavior-change" [(ngModel)]="currentNote.BehaviorChange" type="checkbox"/>
                            
                                <label for="behavior-change">  Behaviour Change Required</label>
                            </span>
                                
                        </tr>
                        <tr>
                            <p>
                                <label for="date_time">DateTime</label>
                            </p>
                            
                            
                                <input id="date_time" name="date_time" type="date-local" [ngModel]="currentNote.RecordedDate | date:'dd/MM/YYYY hh:mm'" (ngModelChange)="currentNote.RecordedDate = $event"/> <!-- RFC 3339, stack overflow: https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format-->
                                
                        </tr>
                        <tr>
                            <p>
                                <label for="note_table_link">Table</label>
                            </p>
                            
                            
                                <select id="note_table_link" name="note_table_link" [(ngModel)]="option">
                                    <option>PHENOMENA</option>
                                    <option>LEARNING_AIMS</option>
                                    <option>SLEEPS</option>
                                    <option>PROJECTS</option>
                                    <option>TASKS</option>
                                    <option>MEDICATION</option>
                                    <option>PRESCRIPTIONS</option>
                                </select>
                                
                        </tr>

                        <!--
                        <tr *ngIf="option == 'LEARNING_AIMS'">
                            <p>
                                <label for="note_table_link_record">Record</label>
                            </p>                           
                            
                            <select id="note_table_link_record" name="note_table_link_record">
                                <option *ngFor="let la in learning_aims">{{la.name}}</option>                                    
                            </select>                                
                        </tr>

                        <tr *ngIf="option == 'SLEEPS'">
                            <p>
                                <label for="note_table_link_record">Record</label>
                            </p>                           
                            
                            <select id="note_table_link_record" name="note_table_link_record">
                                <option *ngFor="let s in sleeps">{{la.name}}</option>                                    
                            </select>                                
                        </tr>

                        <tr *ngIf="option == 'PROJECTS'">
                            <p>
                                <label for="note_table_link_record">Record</label>
                            </p>                           
                            
                            <select id="note_table_link_record" name="note_table_link_record">
                                <option *ngFor="let p in projects">{{la.name}}</option>                                    
                            </select>                                
                        </tr>

                        <tr *ngIf="option == 'PHENONEMA'">
                            <p>
                                <label for="note_table_link_record">Record</label>
                            </p>                           
                            
                            <select id="note_table_link_record" name="note_table_link_record">
                                <option *ngFor="let p in phenonema">{{la.name}}</option>                                    
                            </select>                                
                        </tr>

                        <tr *ngIf="option == 'TASKS'">
                            <p>
                                <label for="note_table_link_record">Record</label>
                            </p>                           
                            
                            <select id="note_table_link_record" name="note_table_link_record">
                                <option *ngFor="let t in tasks">{{la.name}}</option>                                    
                            </select>                                
                        </tr>

                        <tr *ngIf="option == 'MEDICATION'">
                            <p>
                                <label for="note_table_link_record">Record</label>
                            </p>                           
                            
                            <select id="note_table_link_record" name="note_table_link_record">
                                <option *ngFor="let m in medication">{{m.name}}</option>                                    
                            </select>                                
                        </tr>

                        <tr *ngIf="option == 'PRESCRIPTIONS'">
                            <p>
                                <label for="note_table_link_record">Record</label>
                            </p>                           
                            
                            <select id="note_table_link_record" name="note_table_link_record">
                                <option *ngFor="let m in medication">{{m.name}}</option>                                    
                            </select>                                
                        </tr>
                    -->
                    </table>
                </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="SaveNote()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
