
<h4 mat-dialog-title>Add Note<h4>
    <mat-dialog-content class="mat-typography">        
                <form>
                    <table>
                        <tr>
                            <p>
                                <label for="note-content">Notes Text</label>
                            </p>
                                <textarea id="note-content" name="note-content" rows="10" cols="50" [(ngModel)]="text"></textarea>
                                
                        </tr>
                        <tr>
                            <p>
                                <label for="date_time">DateTime</label>
                            </p>
                            
                            
                                <input id="date_time" name="date_time" type="date" [ngModel]="dt | date:'yyyy-MM-dd'"/> <!-- RFC 3339, stack overflow: https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format-->
                                
                        </tr>
                    </table>
                </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="AddNote()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
