<form [formGroup]="roadmapForm" (ngSubmit)="onSubmit()">
    <div class="form-header">
      Edit this roadmap...
    </div>
    <table class="form-section">
      <tr>
        <td align="right">
          <label for="name">Name </label>
        </td>
        <td colspan="3">
          <input id="name" type="text" formControlName="name" maxlength="45"/>
        </td>
      </tr>
    
    <tr>
      <td align="right">
        <label for="details">Details </label>
      </td>
      <td colspan="3">
        <input id="details" type="text" formControlName="details" maxlength="1024"/>
      </td>
    </tr>
      <tr>
        <td align="right">
          <label for="createdDate">Created</label>
        </td>
        <td colspan="3">
          <input id="createdDate" type="datetime" readonly formControlName="createdDate"/>
        </td>
      </tr>
       @if (roadmapID > 0) {
      <tr>
        <td align="right"><label>Notes</label></td>
        <td class="field" colspan="3">
          <app-notes-table [entity]="roadmapID" tableName="ROADMAPS" ></app-notes-table>
        </td>
      </tr>
    }
    </table>
    

   
      
    @if (inDialog == false) {
      <div class="field form-footer">
        <button type="submit" mat-button  class="saveButton" [disabled]="!roadmapForm.valid" cdkFocusInitial>Submit</button>
      </div>
    }
</form>
