<h4>Medication Log</h4>




<table class="tableBody">
    <thead class="tableHeader">
            <th>Show Notes</th>
            <th>Medication Name</th>
            <th>Consumed Date</th>
            <th>Consumed Time</th>
            <th>Prescribed Dose (mg)</th>
            <th class="calculatedText">Portion of Prescribed</th>
            <th class="calculatedText">Estimated  mg(Accumulated Not Allowing for BioAvailability)</th>
            <th class="calculatedText">Estimated Remaining Based on Today of Dose(mg)</th>
            <th>Commands</th>
    </thead>
    <tbody>
        <tr>
            <td class="filterCell filterRowCell">Filters</td>
            <td class="filterCell filterRowCell">
                <table  class="filterTable">
                    <tr>
                        <td>
                            <label for="prescriptionName">Compound Name: </label>
                        </td>
                        <td>
                            <select id="prescriptionName" name="prescriptionName" (change)="doFilter($event)">
                                <option value="Olanzapine">Olanzapine</option>
                                <option value="Sertraline">Sertraline</option>
                                <option value="None" selected></option>
                            </select>
                        </td>
                    </tr>
                </table>  
                
            </td>
            <td class="filterCell filterRowCell">
                <!-- <input type="date"/> --> 
                <form>
                    <table  class="filterTable">
                        <tr>
                            <td>
                                <label for="FromDate">From Date: </label>
                            </td>
                            <td>
                                <input id="FromDate" name="FromDate" type="date"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="ToDate">To Date: </label>
                            </td>
                            <td>
                                <input id="ToDate" name="ToDate" type="date"/>
                            </td>
                        </tr>
                    </table>  
                </form>
            </td>
            <td class="filterCell filterRowCell">
                <!-- <input type="time"/> -->                
            </td>
            <td class="filterCell filterRowCell">
                <form>
                    <table class="filterTable">
                        <tr>
                            <td>
                                <label for="prescribedDose">Prescribed Dose: </label>
                            </td>
                            <td>
                                <select id="prescribedDose" name="prescribedDose" (change)="doFilter($event)">
                                    <option value="7.500">7.5mg</option>
                                    <option value="10.000">10mg</option>
                                    <option value="150.000">150mg</option>
                                    <option value="5.000">5mg</option>
                                    <option value="None" selected></option>
                                </select>
                            </td>
                        </tr>
                    </table>  
                </form>
                
            </td>
            <td class="calculatedText filterRowCell"></td>
            <td class="calculatedText filterRowCell"></td>
            <td class="calculatedText filterRowCell"></td>
            <td class="filterRowCell"></td>
        </tr>
        <ng-container *ngFor="let d of filteredModel; index as i;">
            
            <tr  [ngClass]="{'altTableRow' : i%2 == 0}">
                <ng-container>
                    <td ><button (click)="this.showNotes(d)">Show Notes</button></td>
                    <td class="text">{{ d.Name }}</td>
                    <td class="date">{{d.DateTimeConsumed | date: 'fullDate'}}</td>
                    <!-- use number class to right align it.-->
                    <td class="number">{{d.DateTimeConsumed | date: 'shortTime'}}</td>
                    
                    <td class="number">{{d.DoseMG | number: '1.1-1'}}</td><!---->
                    <td id="percent" class="number calculatedText trafficLightsBackground" [ngStyle]="{'background': this.trafficLights(d)}">{{ this.portionTaken(d) | percent}}</td>
                    <td class="number calculatedText">{{d.AccumulatedMg | number: '1.0-0'}}</td>
                    <td class="number calculatedText">{{d.RemainingMg | number: '1.0-0'}}</td>
                    <td>
                        <span>
                            <button (click)="delete(d.MedicationID)">Delete</button>
                            <button (click)="repeat(d);">Repeat For Today</button>
                            <button (click)="addNote(d);">Add Note</button>
                        </span>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="d.ShowNotes" [ngClass]="{'altTableRow' : i%2 == 0}" >
                <td colspan="8">
                    <app-notes-table [datetime]="d.DateTimeConsumed" [showNotes]="d.ShowNotes"></app-notes-table>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>