<h4>Medication Log</h4>
<p>
    AccumulatedMg uses the formula: doseMg multiplied by (0.5 to the power of hours since time divided by half life (hrs))
    It then adds this amount for each previous record upto 20 records with same Medication Name previous.)
    The half life used is 33 hours which average for Olanzapine.
</p>

<h3> Olanzapine (mg): {{ sumRemaining("Olanzapine") | number: '1.0-0'}}</h3>
<h3> Sertraline (mg): {{ sumRemaining("Sertraline") | number: '1.0-0'}}</h3>
<table>
    <thead>
            <th>Medication Name</th>
            <th>Consumed Date</th>
            <th>Consumed Time</th>
            <th>Prescribed Dose (mg)</th>
            <th class="calculatedText">Taken / Prescribed</th>
            <th class="calculatedText">Estimated  mg(Accumulated Not Allowing for BioAvailability)</th>
            <th class="calculatedText">Estimated Remaining Based on Today of Dose(mg)</th>
            <th>Commands</th>
    </thead>
    <tbody>
        <tr *ngFor="let d of model; index as i;">
            <ng-container>
                <td class="text">{{ d.Name }}</td>
                <td class="date">{{d.DateTimeConsumed | date: 'fullDate'}}</td>
                <!-- use number class to right align it.-->
                <td class="number">{{d.DateTimeConsumed | date: 'shortTime'}}</td>
                
                <td class="number calculatedText">{{d.DoseMG | number: '1.2-2'}}</td>
                <td class="number calculatedText" [ngStyle]="{'background': this.trafficLights(d)}">{{ this.portionTaken(d) | percent}}</td>
                <td class="number calculatedText">{{d.AccumulatedMg | number: '1.0-0'}}</td>
                <td class="number calculatedText">{{d.RemainingMg | number: '1.0-0'}}</td>
                <td>
                    <span>
                    <button (click)="delete(d.MedicationID)">Delete</button>
                    <button (click)="repeat(d);">Repeat For Today</button>
                    </span>
                </td>
            </ng-container>
            

            
        </tr>
    </tbody>
</table>