
<h4 mat-dialog-title>Authorise<h4>
    <mat-dialog-content class="mat-typography">
        
                <form>
                    <table>
                        <tr>
                            <p>
                                <label for="user-id">UserID: </label>
                            </p>
                                <input id="user-id" name="user-id" type="text" [(ngModel)]="this.UserID" autocomplete="username">
                                
                        </tr>
                        <tr>
                            <p>
                                <label for="password">Password: </label>
                            </p>
                            
                            
                            <input id="password" name="password" type="password" [(ngModel)]="this.Password" autocomplete="current-password"/>
                            
                        </tr>
                    </table>
                </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" (click)="UpdateCredentials()" cdkFocusInitial>Save</button>
       <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
