/* customised, but learnt from below link */
/* https://www.sitelint.com/blog/how-to-implement-multiple-selection-with-check-boxes-in-an-html-without-external-libraries */

  
  details summary::marker {
    display: none;
    font-size: 0;
  }
  
  details summary::-webkit-details-marker {
    display: none;
    font-size: 0;
  }
  
  details summary::after {
    content: "\25BC" / "";
    display: inline-block;
    margin-left: 0.5rem;
    position: relative;
  }
  
  details[open] summary {
  }
  
  details[open] summary::after {
    
    transform: rotate(180deg);
  }
  
  .above {   
    z-index: 1; 
    position: fixed;
    background-color: #767676;
  }

  .checkbox{
    margin: 4px;
  }
  

  