table, p, h1, h2, h3, h4, h5, h6 {
    border-radius: 64px;
    border-color: greenyellow;
    border-width: 6px;
    color: grey;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
    font-weight: bold;
    max-width: 15ch;
}

td{
    padding: 8px;
}
.number{
    text-align: right;
}

.date{
    text-align: left;
}

.text{
    text-align: center;
}

.calculatedText{
    color : rgb(27, 63, 51);
}