.container{
    /*width: 100em;*/
}

table, p, h1, h2, h3, h4, h5, h6, pre {
    border-radius: 16px;
    border-color: greenyellow;
    color: black;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

th {
    font-weight: bold;
    max-width: 15ch;
}

td{
    padding: 8px;
}
.number{
    text-align: right;
}

.date{
    text-align: left;
}

.text{
    text-align: left;
}

.calculatedText{
    color : rgb(27, 63, 51);
}

.altTableRow{
    background-color: lightgray;
}

.tableHeader{
    background-color: rgb(196, 219, 219);
}

.tableDivider{
    background-color: rgb(196, 219, 219);
}
.tableBody{
    background-color: rgb(234, 233, 233);
}

.filterTable, .filterCell{
    padding: 0px;
}

.filterRowCell{
    background-color: rgb(151, 180, 180);
}

.saveButton{
    margin: 4px;
    background-color: greenyellow;
}

.cancelButton {
    margin: 4px;
}
/*
.trafficLightsBackground, #percent {
    background-image: linear-gradient(to right,var(--tl1), var(--tl2), var(--tl3));
    background-clip: padding-box;
    mask-clip: 50%;
}
*/