
<mat-toolbar>
    <p>Health Diary</p>
    <button mat-icon-button (click)="showAuthorise()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span>
            <mat-icon>login</mat-icon>
            Authorise
        </span>       
      </button>
      <h1>{{ UserID }}</h1>
</mat-toolbar>


<router-outlet></router-outlet>
<mat-tab-group>
    <mat-tab label="Medication Doses"> <medication-doses-table></medication-doses-table> </mat-tab>
    <mat-tab label="Projects"> <projects-table *ngIf="this.token?.UserID "></projects-table> </mat-tab>
    <mat-tab label="Learning Aims"> <learning-aims-table *ngIf="this.token?.UserID "></learning-aims-table> </mat-tab>
    <mat-tab label="Prescriptions"><prescriptions-table *ngIf="this.token?.UserID "></prescriptions-table></mat-tab>
    <mat-tab label="Sleeps"> <sleeps-table *ngIf="this.token?.UserID "></sleeps-table></mat-tab>
    <mat-tab label="Phenomena"> <phenomena-table *ngIf="this.token?.UserID "></phenomena-table></mat-tab>
  </mat-tab-group>





