
<table class="tableBody">
    <thead class="tableHeader">
    <th>Notes</th>
    <th>Details</th>
    <th>Consumed</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let a of alcohol; index as i;">
            <tr [ngClass]="{'altTableRow' : i%2 == 0}">
                <td class="commands">
                    <button (click)="showNotes(a);" class="action"><i class="bi bi-sticky-fill"></i></button>                    
                </td>
                <td class="text">{{a.Details}}</td>
                <td class="date">{{a.ConsumedDate | date : "fullDate"}}</td>
                
            </tr>
            <tr *ngIf="a.ShowNotes" [ngClass]="{'altTableRow' : i%2 == 0}" >
                <td colspan="4">
                    <app-notes-table [entity]="a.Id" [showNotes]="a.ShowNotes" tableName="ALCOHOL" ></app-notes-table>
                </td>
            </tr>            
        </ng-container>
    </tbody>

</table>
