
<table class="tableBody">
  <thead class="tableHeader">
    <th>Notes</th>
    <th>Details</th>
    <th>Consumed</th>
  </thead>
  <tbody>
    @for (a of alcohol; track a; let i = $index) {
      <tr [ngClass]="{'altTableRow' : i%2 == 0}">
        <td class="commands">
          <button (click)="showNotes(a);" class="action"><i class="bi bi-sticky-fill"></i></button>
        </td>
        <td class="text">{{a.Details}}</td>
        <td class="date">{{a.ConsumedDate | date : "fullDate"}}</td>
      </tr>
      @if (a.ShowNotes) {
        <tr [ngClass]="{'altTableRow' : i%2 == 0}" >
          <td colspan="4">
            <app-notes-table [entity]="a.Id" [showNotes]="a.ShowNotes" tableName="ALCOHOL" ></app-notes-table>
          </td>
        </tr>
      }
    }
  </tbody>

</table>
