
<table class="tableBody">
    <thead class="tableHeader">
        
            <th>Start Date</th>
            <th>From</th>
            <th>To</th>
            <th>Hours</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let s of sleeps; index as i;">
            <tr  [ngClass]="{'altTableRow' : i%2 == 0}">
                <ng-container>
                    <td class="date">{{ adjustForTimezone(s.FromDate) | date: 'MMMM d' }}</td>
                    <td class="date">{{ adjustForTimezone(s.FromDate) | date: 'EEEE,  h:mm:ss a' }}</td>
                    <td class="date">{{ adjustForTimezone(s.ToDate) | date: 'EEEE, h:mm:ss a' }}</td>
                    <td class="number">{{ s.Hours | number: '1.1-1'}}</td>
                </ng-container>
            </tr>
        </ng-container>       
    </tbody>
</table>

<div id="sleepTable" #container></div>
