<table class="tableBody">
    <thead class="tableHeader">
    <th>Name</th>
    <th>Date last Completed</th>
    <th>Commands</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let j of jobs; index as i;">
            <tr [ngClass]="{'altTableRow' : i%2 == 0}">
                <td class="text">{{j.Job}}</td>
                <td class="date">{{ formatDate(j.DateCompleted)}}</td>
                <td class="text"><button (click)="logActivity(j.Id)">Today</button></td>
            </tr>           
        </ng-container>
    </tbody>

</table>
