<div class="backlogContainer">
  <div class="treeContainer">
    <div class="tree-header">Project View</div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-container">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding >
        <span (click)="onSelect(node.projectNode);">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <ng-container *ngTemplateOutlet="nameAndMenu; context: {node : node}"></ng-container>
          <ng-container *ngTemplateOutlet="statusIcon; context: {node : node}"></ng-container>
        </span>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle>
        <span>
          <div style="display: inline; " (click)="onSelect(node.projectNode);" matIconButton matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon style="vertical-align: bottom;"  class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </div>
          <ng-container *ngTemplateOutlet="nameAndMenu; context: {node : node}"></ng-container>
          <ng-container *ngTemplateOutlet="statusIcon; context: {node : node}"></ng-container>
        </span>
      </mat-tree-node>
    </mat-tree>
  </div>

  <ng-template #icon let-node="node">
    <i [ngClass]="{ 'bi bi-compass' : node.itemType==0, 
                    'bi bi-diagram-2' : node.itemType == 1,
                    'bi bi-crosshair' : node.itemType == 2,
                    'bi bi-geo' : node.itemType == 3 
                  }"></i>    
  </ng-template>

  <ng-template #statusIcon let-node="node">
    <i [ngClass]="{ 'bi bi-trophy-fill' : node.status=='COMPLETED',
                    'bi bi-play-fill' : node.status=='IN_PROGRESS'
                  }"></i>    
  </ng-template>

  <ng-template #nameAndMenu let-node="node">
    @if (isTask(node)==false) {
      <div style="display: inline;" [ngClass]="{selectedNode : isNodeSelected(node)}" [matContextMenuTriggerFor]="menu">
        {{node.name}}
      </div>
    }
    @if (isTask(node)) {
      <div style="display: inline;" [ngClass]="{selectedNode : isNodeSelected(node)}">
        {{node.name}}
      </div>
    }
    <mat-menu #menu>
      <button mat-menu-item (click)="appendNewNode(node)">Add Child</button>
    </mat-menu>
  </ng-template>

  <div class="detailContainer">
    @if (isSelectedNodeAnEpic();) {
      <app-epic-edit [inDialog]="false" #epicEdit></app-epic-edit>
    }
    @if (isSelectedNodeARoadmap();) {
      <app-roadmap-edit [inDialog]="false" #roadmapEdit></app-roadmap-edit>
    }
    @if (isSelectedNodeAStory();) {
      <app-task-edit [showSaveButton]="true" #taskEdit></app-task-edit>
    }
    @if (isSelectedNodeATask();) {
      <app-sub-tasks-edit [inDialog]="false" #subTaskEdit></app-sub-tasks-edit>
    }
  </div>
</div>